In [ ]:
# ПЗ.NUMPY
# задание 1.
import numpy as np

In [ ]:
a = np.array(
    [[1, 2, 3, 3, 1], 
    [6, 8, 11, 10, 7]]
).transpose()

In [ ]:
mean_a = np.mean(a, axis = 0)
print(mean_a)

In [ ]:
# задание 2.
a_centered = a - mean_a
print(a_centered)

In [ ]:
# задание 3.
a_centered_sp = a_centered.T[0] @ a_centered.T[1]
print(a_centered_sp)

a_centered_sp / (a_centered.shape[0] - 1)

In [ ]:
# ПЗ.PANDAS
# задание 1.
import pandas as pd

In [ ]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                        'author_name':['Тургенев', 'Чехов', 'Островский']},
                        columns=['author_id', 'author_name'])

In [ ]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
                     'price':[450, 300, 350, 500, 450, 370, 290]}, 
                     columns=['author_id', 'book_title', 'price'])

In [ ]:
# задание 2.
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')
print(authors_price)

In [ ]:
# задание 3.
top5 = authors_price.nlargest(5, 'price')
print(top5)

In [ ]:
# задание 4.
authors_stat = authors_price['author_name'].value_counts()
print(authors_stat)

# в датафрейме authors_stat должны быть четыре столбца:
# author_name, min_price, max_price и mean_price

authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})
authors_stat = authors_stat.rename(columns={'min':'min_price', 'max':'max_price', 'mean':'mean_price'})
print(authors_stat)